{{{partial 'layout_header'}}}
  <!-- empieza nav superior -->
  <nav id="nav1" class="container Flama-normal">
    <div class="col-md-5 pull-left">
      <div class="logo"></div>
    </div>
    <div class="col-md-5 pull-right">
      <div class="logo"></div>
    </div>
  </nav>
  <div class="Flama-normal">
    {{{render}}}
  </div>
{{{partial 'layout_footer'}}}

