<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Intermed | La red social de la salud</title>

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="/css/bootstrap.responsive.min.css">-->
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <link rel="stylesheet" href="/css/intermed.css">
    <link rel="stylesheet" href="/fonts/fonts.css">
  </head>
  <body>

